# Web Frameworks
streamlit
fastapi
uvicorn

# HTTP & API Communications
requests
httpx
stripe

# Data & Security
pydantic
pydantic-settings
python-dotenv
cryptography
PyJWT

# Database
psycopg2-binary

# Styling & UI Components
st-theme
